@import "compass";
@import "compass/layout";
@import "normalize";
@import "typography";
@import "mixins";




@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

// sticky footer mixin; see: http://compass-style.org/reference/compass/layout/sticky_footer/
// $footerHeight:100px;
// @include sticky-footer($footerHeight);

// Remove image link borders (if relevant)
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
	text-decoration: none;
	border: 0 none;
}



@font-face {
			font-family: Cooper;
			src: url("../css/webfont/CooperHewitt-Medium.otf") format("opentype");
			}
			@font-face {
			font-family: Iowan;
			src: url('../css/webfont/bitstream-iowan-old-style-bold-italic-bt.ttf') format('truetype')
			}

			.exImage{
		        margin-top: 7px;
			    margin-bottom: 7px;
			    margin-right: 2.5%;
			    margin-left: 2.5%;
			    max-height: 800px;
			    max-width:55%	;

	        }

			body {
				margin: -2px;
			}
			* {

		        font-family: Iowan,Helvetica Bold;
		        letter-spacing: 1.1;
	        }
	        #container {
		        top:0;
		        width:100%;
		        z-index:1;
		        min-height: 90%;
	        }


	        #myCanvas {
		        z-index:6;
		        position:fixed;;
		        opacity:.2;

	        }
	        #title, #exhibitions {
		        text-align:left;
		        padding-left:4%;
		        text-decoration: underline;
	        }

	        #exhibitions {
		        display:inline;
	        }

	        #title{
		     font-size:3.5em;
		     /*padding-top:10%;*/
		     display:inline-block;
	        }

	        #content {
		        text-align: center;
		        margin-bottom:5%;

		        font-size:1.5em;

	        }

	        .poster{
		        width:45%;
		        margin-right:2.5%;
		        margin-left:2.5%;
	        }
	        #address {
		        padding:1%;
						padding-bottom: 40px;
		        width:100%;
		        position:static;
		        bottom: 0;
		        text-align:center;
		        font-size: 1em;
		        font-weight: 600;
		        font-family: TimesNewRoman;
	        }
	        #aa {
		        text-decoration: line-through;
	        }
	        #upcoming {
		        font-size:5em;
            margin-bottom: 20px;
	        }
          .upcoming {

            margin-bottom: 20px;
          }

					.exh-title {
						width:100%;
						font-size: 1.2em;
						text-align:center;
						margin: 4% 0;
					}

	        @media screen and (max-width:600px) {
				#address {position:static;}
			}

			body {
			  font-family: 'Courier', Courier New, monospace;
			  width: 800px;
			  margin-left: 50px;
			  color: #333;
			}

			h1 {
			  border-bottom: 1px dotted #000;
			  padding: 20px 0;
			}

			.post {
			width: 540px;
			float: left;
			}

			.sidebar {
			float: right;
			width: 200px;
			padding-left: 10px;
			padding-bottom: 20px;
			margin-right: 10px;
			border-left: 1px dotted #000;
			}

			.footer {
			  float: left;
			  width: 800px;
			  border-top: 1px dotted #000;
			  padding: 10px 0;
			  text-align: right;
			}


			.sc-player {
			  width: 540px;
			  height: 270px;
			  position: relative;
			  margin-bottom: 20px;
			}

			.sc-player ol, .sc-player li{
			  margin: 0;
			  padding: 0;
			  list-style-position: inside;
			}

			/* Artworks */

			.sc-player .sc-artwork-list{
			  width: 50%;
			  height: 100%;
			  background-color: #transparent;
			  list-style-type: none;
			  position: relative;
			}

			.sc-player .sc-artwork-list li{
			  list-style-type: none;
			  display: none;
			}

			.sc-player .sc-artwork-list li.active{
			  list-style-type: none;
			  display: block;
			}

			.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
			  list-style-type: none;
			  width: 100%;
			  height: 100%;
			}

			.sc-no-artwork {
			  display: none;
			}

			/* controls */

			.sc-player .sc-controls{
			  position: absolute;
			  z-index: 800;
			  width: 50px;
			  height: 50px;
			  margin-left: -25px;
			  margin-top: -25px;
			  top: 50%;
			  left: 25%;
			}

			.sc-player .sc-controls a{
			  display: block;
			  width: 50px;
			  height: 50px;
			}

			.sc-player .sc-controls a.sc-pause{
			  display: none;
			}

			.sc-player.playing .sc-controls a.sc-play{
			  display: none;
			}

			.sc-player.playing .sc-controls a.sc-pause{
			  display: block;
			}



			/* scrubber */

			.sc-scrubber {
			  position: absolute;
			  left: 10px;
			  bottom: 10px;
			  height: 40px;
			  width: 250px;
			  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.30);
			  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.30);
			  display: block;
			  z-index: 600;
			}

			.sc-scrubber .sc-time-span{
			  height: 30px;
			  margin: 5px;
			  position: relative;
			}

			.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
			  height: 30px;
			  position: absolute;
			  top: 0;
			}

			.sc-track-duration {
			  text-align: right;
			  float: right;
			  padding: 0 5px;
			  margin-left: 5px;
			}
			.sc-scrubber .sc-time-indicators{
			  position: absolute;
			  right: 0;
			  top: -30px;
			}

			/* tracks */

			/* Track listings*/

			.sc-player ol.sc-trackslist {
			  position: absolute;
			  float: left;
			  width: 50%;
			  height: 260px;
			  top: 5px;
			  left: 50%;
			  overflow: auto;
			}

			.sc-player ol.sc-trackslist li{
			  cursor: pointer;
			  margin: 1px 5px;
			  padding: 3px 30px 3px 5px;
			  position: relative;
			}

			.sc-player ol.sc-trackslist li span {
			  position: absolute;
			  right: 0;
			  top: 3px;
			}

			/* Track info*/

			.sc-player .sc-info{
			  position: absolute;
			  top: 10px;
			  left: -5000px;
			  width : 400px;
			  padding: 5px;
			  height: 200px;
			  z-index: 500;
			  margin-left: -200px;
			}

			.sc-player .sc-info.active{
			  left: 50%;
			  top: 12%;
			}


			.sc-player .sc-info-toggle{
			  position: absolute;
			  top: 10px;
			  left: 10px;
			}

			.sc-player .sc-info-toggle.active{
			  left: -5000px;
			}

			.sc-player .sc-info-close{
			  position: absolute;
			  top: 10px;
			  right: 20px;
			}

			/* volume control */
			.sc-volume-slider {
			  top: -25px;
			  left: 0px;
			  position: absolute;
			  width: 110px;
			  height: 12px;
			  background-color: white;
			}
			.sc-volume-slider .sc-volume-status{
			  position: absolute;
			  width: 0%;
			  height: 10px;
			  top: 1px;
			  left: 1px;
			}

			/* utilities */

			.sc-player .hidden {
			  display: none;
			}

			.sc-player-engine-container{
			  width: 1px;
			  height: 1px;
			  position: fixed;
			  top: 2px;
			  left: 2px;
			}
