@import "compass";
@import "compass/layout";
@import "normalize";
@import "typography";
@import "mixins";




@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

// sticky footer mixin; see: http://compass-style.org/reference/compass/layout/sticky_footer/
// $footerHeight:100px;
// @include sticky-footer($footerHeight);

// Remove image link borders (if relevant)
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
	text-decoration: none;
	border: 0 none;
}



@font-face {
			font-family: Cooper;
			src: url("../css/webfont/CooperHewitt-Medium.otf") format("opentype");
			}
			@font-face {
			font-family: Iowan;
			src: url('../css/webfont/bitstream-iowan-old-style-bold-italic-bt.ttf') format('truetype')
			}

			.exImage{
		        margin-top: 7px;
			    margin-bottom: 7px;
			    margin-right: 2.5%;
			    margin-left: 2.5%;
			    max-height: 800px;
			    max-width:55%	;

	        }

			body {
				margin: -2px;
			}
			* {

		        font-family: Iowan,Helvetica Bold;
		        letter-spacing: 1.1;
	        }
	        #container {
		        top:0;
		        width:100%;
		        z-index:1;
		        min-height: 90%;
	        }


	        #myCanvas {
		        z-index:6;
		        position:fixed;;
		        opacity:.2;

	        }
	        #title, #exhibitions {
		        text-align:left;
		        padding-left:4%;
		        text-decoration: underline;
	        }

	        #exhibitions {
		        display:inline;
	        }

	        #title{
		     font-size:3.5em;
		     /*padding-top:10%;*/
		     display:inline-block;
	        }

	        #content {
		        text-align: center;
		        margin-bottom:5%;

		        font-size:1.5em;

	        }
	        .poster{
		        width:45%;
		        margin-right:2.5%;
		        margin-left:2.5%;
	        }
	        #address {
		        padding:1%;
		        width:100%;
		        position:static;
		        bottom: 0;
		        text-align:center;
		        font-size: 1em;
		        font-weight: 600;
		        font-family: TimesNewRoman;
	        }
	        #aa {
		        text-decoration: line-through;
	        }
	        #upcoming {
		        font-size:5em;
            margin-bottom: 20px;
	        }
          .upcoming {

            margin-bottom: 20px;
          }

	        @media screen and (max-width:600px) {
				#address {position:static;}
			}
